@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=DM+Sans:wght@400;700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Rubik:wght@400;500;700&display=swap');

.text-lime-green {
    color: hsl(163, 72%, 41%);
}

.text-bright-red {
    color: hsl(356, 69%, 56%);
}


.border-facebook {
    border-color: hsl(208, 92%, 53%);
}

.border-twitter {
    border-color: hsl(203, 89%, 53%);
}

.border-instagram {
    /* border-color: hsl(329, 70%, 58%); */
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
}

.border-youtube {
    border-color: hsl(348, 97%, 39%);
}